<!-- <div>
    <h1>{{ data.name }}</h1>
    <h1>{{ data.age }}</h1>
    <h1>{{ data.qul }}</h1>
</div> -->

<table class="table table-hover table-striped">
    <tr class="table-primary">
      <th class="border-right">Employee-Id</th>
      <th class="border-right">Employee-Name</th>
      <th class="border-right">Employee-Age</th>
      <th class="border-right">Employee-Qulfication</th>
    </tr>
    <tr>
      <td class="border-right table-secondary">{{ data.id }}</td>
      <td class="border-right table-secondary">{{ data.name }}</td>
      <td class="border-right table-secondary">{{ data.age }}</td>
      <td class="border-right table-secondary">{{ data.qul }}</td>
    </tr>
  </table>
  