
  <nav class="navbar navbar-expand-lg navbar-light bg-light header">
      <a class="sidebar"> <span style="font-size:30px;cursor:pointer;color: white;" onclick="openNav()">&#9776;</span></a>
    <a class="navbar-brand" id="nani" href="#">Ojas Innovative Private Technology Pvt ltd</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="nani" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </nav>


  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#" (click)="navigateToEmployee('employee')">Employees</a>
    <a href="#" (click)="navigateToStudent('trainers')">Student</a>
    <a href="#">Contact</a>
  </div>
  
  

